section {
    width: 50%;
    border: 1px solid;
  }
.block1 {
    width: 50%;}

.block2 {
    jus}

.block3 {
    width: 50%;}

.block4 {
    width: 50%;}

p:nth-of-type(2) {
    text-align: center;
}

  